/* style.css
 * This file provides css styles.
 */

body,html {
	background-color: #5153ec; 
	width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
}


div.header {
	flex: 100%;
}

div.grid {
	float: left;
}

div.status {
	margin: 10px;
}

div.solutions {
	margin: 10px;
}
a {
	text-decoration: none;
	color: aquamarine;
}

a:hover {
	text-decoration: underline;
}

table {
	border-spacing: 0;
}

th,td {
	padding: 0;	
}
table.grid {
	margin: 0 40px 0 20px;
	word-wrap: break-word;
	color: black;
}

td.cell {
	width: 48px;
	height: 48px;
	text-align: center;
	border: 1px solid black;
}

td.borderint {
	border: 1px solid black;
}

td.borderext {
	border: 1px solid black;
	border-bottom-width: 2px;
	border-right-width: 2px;
}

table.hypo {
	border-collapse: collapse;
}

ul {
	margin: 0px;
}

.status {
    color: #df1010	;
}

.error {
    color: orange;
}

.warning {
    color: lightgreen;
}

span.value {
	font-size: xx-large;
}

table.hypo {
	width: 100%;
	height: 100%;
}

td.hypo {
	font-size: small;
	text-align: center;
}

.hide {
	display: none !important;
}

.show {
}

:disabled {
  background: #dddddd;
}
