/* style.css
 * This file provides css styles.
 */

body,html {
	background-color: #3b4b54; width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
}

a {
	text-decoration: none;
	color: #00aed1;
}

a:hover {
	text-decoration: underline;
}

.newappIcon {
	padding-top: 10%;
	display: block;
	margin: 0 auto;
	padding-bottom: 2em;
	max-width:200px;
}

h1 {
	font-weight: bold;
	font-size: 2em;
}

.leftHalf {
	float: left;
	background-color: #26343f;
	width: 45%;
	height: 100%;
}

.rightHalf {
	float: right;
	width: 55%;
	background-color: #313f4a;
	height: 100%;
	overflow:auto;
}

.description {
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	font-size: 1.2em;
}

.blue {
	color: #00aed1;
}


table.grid {
	table-layout: fixed;
	margin: 0 auto 0 20px;
	word-wrap: break-word;
	color: black;
}

th {
	border-bottom: 1px solid #000;
}

th, td {
	text-align: left;
}

.env-var {
	text-align: right;
	border-right: 1px solid #000;
	width: 30%;
}

pre {
	padding: 0;
	margin: 0;
}

td.cell {
	border: 1px solid black;
	width: 30px;
	height: 30px;
}
ul {
	margin: 0px;
}
td.used0 { background-color: white }
td.used1 { background-color: yellow }
td.used2 { background-color: orange }
td.used3 { background-color: red }
td.used4 { background-color: brown }
td.used5 { background-color: brown }
td.used6 { background-color: brown }
td.used7 { background-color: brown }
td.used8 { background-color: dimgray }
td.counter {
	text-align: center;
	font-weight: bold;
}
.vertical{
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform:rotate(-90deg);
    transform: rotate(-90deg);
	-webkit-transform-origin: left top 0;
	-moz-transform-origin: left top 0;
	-o-transform-origin: left top 0;
	-ms-transform-origin: left top 0;
	transform-origin: left top 0;
	left: 7px;
}
.horizontal {
	top: 10px;
}
.diagMontHaut {
	-ms-transform:rotate(-45deg); /* IE 9 */
	-moz-transform:rotate(-45deg); /* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari and Chrome */
	-o-transform:rotate(-45deg); /* Opera */
	transform:rotate(-45deg);
	-webkit-transform-origin: left top 0;
	-moz-transform-origin: left top 0;
	-o-transform-origin: left top 0;
	-ms-transform-origin: left top 0;
	transform-origin: left top 0;
	left: 30px;
    top: -10px;
}
.diagMontDroite {
	-ms-transform:rotate(-45deg); /* IE 9 */
	-moz-transform:rotate(-45deg); /* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari and Chrome */
	-o-transform:rotate(-45deg); /* Opera */
	transform:rotate(-45deg);
	-webkit-transform-origin: left top 0;
	-moz-transform-origin: left top 0;
	-o-transform-origin: left top 0;
	-ms-transform-origin: left top 0;
	transform-origin: left top 0;
	left: -3px;
    top: -10px;
}
.diagDescDroite {
	-ms-transform:rotate(45deg); /* IE 9 */
	-moz-transform:rotate(45deg); /* Firefox */
	-webkit-transform:rotate(45deg); /* Safari and Chrome */
	-o-transform:rotate(45deg); /* Opera */
	transform:rotate(45deg);
	-webkit-transform-origin: left top 0;
	-moz-transform-origin: left top 0;
	-o-transform-origin: left top 0;
	-ms-transform-origin: left top 0;
	transform-origin: left top 0;
	bottom: -10px;
    left: 10px;;
}
.diagDescBas {
	-ms-transform:rotate(45deg); /* IE 9 */
	-moz-transform:rotate(45deg); /* Firefox */
	-webkit-transform:rotate(45deg); /* Safari and Chrome */
	-o-transform:rotate(45deg); /* Opera */
	transform:rotate(45deg);
	-webkit-transform-origin: left top 0;
	-moz-transform-origin: left top 0;
	-o-transform-origin: left top 0;
	-ms-transform-origin: left top 0;
	transform-origin: left top 0;
	left: 45px;
    top: -3px;
}
td.error {
	position: relative;
}
div.error {
	color: red;
	white-space:nowrap;
	position: absolute;
}
.status {
    color: red;
}